.page-title {
  position: relative;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.6px;
  margin: 0;
  margin-right: auto;

  &::before {
    position: absolute;
    left: -16px;
    content: '';
    width: 4px;
    height: 40px;
    background-color:#41F6D7;
    border-radius: 0 4px 4px 0;

    @media (min-width: $screen-md) {
      left: -24px;
    }

    @media (min-width: $screen-xl) {
      left: -36px;
      border-radius: 2px;
    }
  }
}