.page-subtitle {
  padding-top: 16px;
  padding-bottom: 16px;
  background: linear-gradient(270deg, $gradiend-subtitle-color-start 0%, $gradiend-subtitle-color-end 98.61%);
  border-top: 1px solid $page-border-color;
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  color: $page-text-color;
}