.brand {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
  background-color: $card-background-color;
  border: 1px solid $border-color;
  border-radius: 6px;
  cursor: pointer;

  &:hover {
    border: 1px solid $hover-background-color;

    .brand__icon {
      background-color: $hover-background-color;
    }
  }



  &__img {
    display: block;
    max-height: 40px;
    max-width: 128px;
    margin-right: auto;
  }
}