.form {
    padding: 24px 0;

    &__input {
        margin-bottom: 16px;
    }

    &__p {
        margin: 0;
        font-size: 14px;
        line-height: 16px;
        font-weight: 500;
        color: $page-text-color;
    }

    &__link {
        text-decoration: none;
        color: $form-link-color;
    }

    &__footer {
        margin-top: 24px;
        display: flex;
        justify-content: flex-end;
    }
}