.input-text {
    @include highlight-text;
    width: 100%;
    border: 1px solid $border-color;
    border-radius: 8px;
    padding: 12px 16px;

    color: $page-text-color;
    resize: none;
    outline: none;

    &:hover {
        border: 1px solid $hover-background-color;

        &::placeholder {
            color: $hover-text-color;
        }
    }

    &:focus {
        border: 1px solid $form-input-focus-border-color;

        &::placeholder {
            color: $form-input-focus-placeholder-text-color;
        }
    }

    &::placeholder {
        color: $form-placeholder-text-color;
    }
}