.popup-form {
    // min-height: 100vh;
    padding-top: 36px;
    padding-bottom: 36px;
    background-color: $card-background-color;

    @media (min-width: $screen-md) {
        max-width: 440px;

        border-left: 1px solid $page-border-color;
        box-shadow: 
            -2px 0px 4px $gradiend-popup-color-start, 
            16px 0px 52px $gradiend-popup-color-end;
    }

    &__title {
        font-size: 24px;
        line-height: 32px;

        @media (min-width: $screen-md) {
            margin-top: 0;
        }

        &::before {
            @include vertical-middle;

            @media (min-width: $screen-md) {
                left: -26px;
                border-radius: 2px;
            }

            @media (min-width: $screen-xl) {
                left: -36px;
            }
        }
    }
}